In [1]:
import pandas as pd

In [3]:
homelessness = pd.read_csv('homelessness.csv')

# Summary Statistics

They summarize and tell you about your dataset

In [4]:
homelessness.head(5)

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

## Mean

In [5]:
homelessness["individuals"].mean()

7225.78431372549

Similarly there are median(), mode(), min(), max(), var(), std(), sum(), quantile(),

## Summarizing Dates

You can use .min() for date columns

## .agg() method

Allows you to compute custom summary statistics

In [6]:
def pct30(column):
    return column.quantile(0.3)

The following gives the 30th percentile of the homeless individuals

In [7]:
homelessness['individuals'].agg(pct30)

1745.0

agg can also be used in more than one column

In [8]:
homelessness[['individuals','family_members']].agg(pct30)

individuals       1745.0
family_members     676.0
dtype: float64

The following is the function for the 40th percentile

In [9]:
def pct40(column):
    return column.quantile(0.4)

In [10]:
homelessness['individuals'].agg([pct30,pct40])

pct30    1745.0
pct40    2540.0
Name: individuals, dtype: float64

## Cumulative Sum

In [11]:
homelessness['individuals'].cumsum()

0       2570.0
1       4004.0
2      11263.0
3      13543.0
4     122551.0
5     130158.0
6     132438.0
7     133146.0
8     136916.0
9     158359.0
10    165302.0
11    169433.0
12    170730.0
13    177482.0
14    181258.0
15    182969.0
16    184412.0
17    187147.0
18    189687.0
19    191137.0
20    196051.0
21    202862.0
22    208071.0
23    212064.0
24    213088.0
25    216864.0
26    217847.0
27    219592.0
28    226650.0
29    227485.0
30    233533.0
31    235482.0
32    275309.0
33    281760.0
34    282227.0
35    289156.0
36    291979.0
37    303118.0
38    311281.0
39    312028.0
40    315110.0
41    315946.0
42    322085.0
43    341284.0
44    343188.0
45    343968.0
46    347896.0
47    364320.0
48    365341.0
49    368081.0
50    368515.0
Name: individuals, dtype: float64

This returns a number for each row of the dataframe

Pandas also has methods for other cumulative statistics such as cummax, cummin, cumprod